[Unit]
Description=VPS Fix Script
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/VPS-MX/
ExecStart=/bin/bash /etc/VPS-MX/vps-fix.sh

[Install]
WantedBy=multi-user.target
